In [66]:
import pandas as pd
import sqlite3

**Read Data and Clean**

In [96]:
doctors = pd.read_csv('doctors table.csv')
patient_contact = pd.read_csv('patient contact table.csv',)
patient_doctors = pd.read_csv('patient doctors table.csv',)
patient_finance = pd.read_csv('patient finance table.csv',)
patient_health = pd.read_csv('patient health table.csv',)
patient_vitals = pd.read_csv('patient vitals table.csv',)
patient_id = pd.read_csv('patient ID table.csv',)

In [68]:
patient_health.replace({0 : False, 1 : True})
patient_health = patient_health.astype(bool)

In [69]:
doctors.head()

          Firstname   Lastname
Doctor_ID
1           Michael      Smith
2             Sally   Williams
3            Dennis      Jones
4             Juana  Rodriguez
5                Li      Zhang

In [70]:
patient_contact.head()

,Email,Street_address,City,State,Zip
Patient_ID,,,,,
1,YunPor5@gmail.com,872 Jakubowski Creek,New York,New York,10007
2,ColJal8@yahoo.com,347 Immanuel Mountains,New York,New York,10007
3,LigAus2@gmail.com,6040 Williamson Curve,New York,New York,10012
4,AliJor1@aol.com,93049 Audley Island,New York,New York,10006
5,DzeMer1@gmail.com,939 Nicolas Loaf Suite 330,New York,New York,10012

In [71]:
patient_doctors.head()

             Doctor
Patient_ID
1             Zhang
2           Tataryn
3            Harris
4             Jones
5             Petit

In [72]:
patient_finance.head()

            Amount_due           Ins_co
Patient_ID
1                  400  CityPlan Health
2                    0  MetroCare Basic
3                  300         LifeWell
4                    0  New Day Medical
5                    0  Healthplan Plus

In [73]:
patient_vitals.head()

,Last_height,Last_weight,Last_heartrate,Last_systolic_BP,Last_diastolic_BP
Patient_ID,,,,,
1,175,200,58,123,69
2,155,197,73,127,73
3,172,216,76,121,75
4,174,215,74,130,74
5,171,167,77,112,67

In [74]:
patient_health.head()

,Current_smoker,Condition_1,Condition_2,Condition_3,Condition_4,Condition_5,Condition_6,Condition_7,Condition_8,Condition_9,Condition_10
Patient_ID,,,,,,,,,,,
1,True,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False

In [75]:
patient_id.head()

,Firstname,Lastname,DOB,Age,Biol_sex,Ethnicity
Patient_ID,,,,,,
1,Porvangchee,Yun,1972-03-20,51,Male,Asian or Pacific Islander
2,Jalen,Collins,1948-06-15,75,Female,Black (not Hispanic)
3,Austin,Lightfoot,1964-09-10,59,Male,American Indian or Native Alaskan
4,Jordan,Ali,1964-02-24,59,Male,Black (not Hispanic)
5,Meron,Dzerekey,1990-03-25,33,Female,Black (not Hispanic)

In [76]:
doctors.dtypes

Firstname    object
Lastname     object
dtype: object

In [77]:
patient_doctors.dtypes

Doctor    object
dtype: object

**Connect and insert to db**

In [89]:
conn = sqlite3.connect('medical_practice.db')
cur = conn.cursor()

In [79]:
cur.execute('''
CREATE TABLE IF NOT EXISTS doctors (
doctor_id INTEGER PRIMARY KEY,
first_name VARCHAR(255),
last_name VARCHAR(255));
''')

In [80]:
cur.execute('''
CREATE TABLE IF NOT EXISTS patient_contact (
patient_id INTEGER PRIMARY KEY,
email VARCHAR(255),
street_address VARCHAR(255),
city VARCHAR(255),
state VARCHAR(255),
zip INTEGER
);
''')

In [81]:
cur.execute('''
CREATE TABLE IF NOT EXISTS patient_doctors (
patient_id INTEGER PRIMARY KEY,
doctor VARCHAR(255)
);
''')

In [82]:
cur.execute(
'''
CREATE TABLE IF NOT EXISTS patient_health (
  Patient_ID INT,
  Current_smoker BOOLEAN,
  Condition_1 VARCHAR(255),
  Condition_2 VARCHAR(255),
  Condition_3 VARCHAR(255),
  Condition_4 VARCHAR(255),
  Condition_5 VARCHAR(255),
  Condition_6 VARCHAR(255),
  Condition_7 VARCHAR(255),
  Condition_8 VARCHAR(255),
  Condition_9 VARCHAR(255),
  Condition_10 VARCHAR(255),
  PRIMARY KEY (Patient_ID),
  FOREIGN KEY (Patient_ID) REFERENCES patient_id(Patient_ID)
);
''')

In [83]:
cur.execute('''
CREATE TABLE patient_vitals (
  Patient_ID INT,
  Last_height DECIMAL(5, 2),
  Last_weight DECIMAL(5, 2),
  Last_heartrate INT,
  Last_systolic_BP INT,
  Last_diastolic_BP INT,
  PRIMARY KEY (Patient_ID),
  FOREIGN KEY (Patient_ID) REFERENCES patient_id(Patient_ID)
);
''')

In [84]:
cur.execute('''
CREATE TABLE patient_finance (
  Patient_ID INT,
  Amount_due DECIMAL(10, 2),
  Ins_co VARCHAR(255),
  PRIMARY KEY (Patient_ID),
  FOREIGN KEY (Patient_ID) REFERENCES patient_id(Patient_ID)
);
''')

In [90]:
cur.execute('''
CREATE TABLE patient_id (
  Patient_ID INT PRIMARY KEY,
  Firstname VARCHAR(255),
  Lastname VARCHAR(255),
  DOB DATE,
  Age INT,
  Biol_sex VARCHAR(10),
  Ethnicity VARCHAR(255)
);
''')

In [91]:
def insert_data(table_name, df):
    
    for i, row in df.iterrows():
        insert_stmt = f"INSERT INTO {table_name} VALUES ({','.join(['?' for i in range(len(row))])})"
        
        cur.execute(insert_stmt, tuple(row))
    conn.commit()

In [97]:
insert_data('doctors',doctors)
insert_data('patient_id',patient_id)
insert_data('patient_contact',patient_contact)
insert_data('patient_doctors',patient_doctors)
insert_data('patient_finance',patient_finance)
insert_data('patient_health',patient_health)
insert_data('patient_vitals',patient_vitals)

ImproperUseError: Argument Subscript(value=Name(id='dfs', ctx=Load()), slice=Constant(value=0), ctx=Load()) is not a variable or an attribute.

In [86]:
conn.commit()

In [87]:
conn.close()

In [1]:
print('hello world')

hello world